body {
  font-family: Arial, sans-serif;
  background-color: #fffaf0;
  color: #333;
  text-align: center;
}
h1 {
  color: #b76e79;
}
p {
  font-size: 18px;
}
.product-img {
    width: 100%;
    max-width: 250px;
    border-radius: 15px;
    margin: 10px auto;
    display: block;
}
